<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.com.gmdsa.sedapal">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Internet Permissions. -->

    <!-- I/O Permissions. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- I/O Permissions. -->


    <!-- Hardware Permissions. -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Hardware Permissions. -->
    <application
        android:name=".view.AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:theme="@style/AppThemeGMD">

        <!-- Activities. -->
        <activity
            android:name=".view.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.CameraActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.OptionMenuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.QueryDailyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.QueryDailyListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.DespatchSaleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.DespatchSaleListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.DespatchSaleDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.DespatchSaleSuccessfulActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.DespatchAnfActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.DespatchAnfDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.CaptureQRActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.LogInActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.RecoverPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.DemoServicioActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.DespachoSaleOptionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.DespatchSaleQRActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.MaintenanceDailyActivity_2"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.PasswordForgotActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.PasswordForgotSuccessfulAcivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>